<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/donations/donations.css">
    <link rel="stylesheet" href="../static/css/components/card_donations.css">
    <script src="../static/js/user/page_user.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Wallet4Don8</title>
</head>
<body>
    <header>
        <nav>
            <img src="../static/images/icon.png" alt="" width="150">
            <ul>
                <li> <a id="initial-btn">Início</a></li>
                <li> <a id="donation-btn">Minhas doações</a></li>
                <li> <a id="dashboard-btn">Dashboard</a></li>
            </ul>
            <div class="button">
                 <button id="sair">Sair</button>
            </div>
        </nav>
        </header>
        <section>
            <div class="content">
                <h1>
                   Criptoativos pela mudança
                </h1>
                <p>
                    Cumpra os contratos inteligentes, participe ativamente da prova de participação da rede Ethereum
                    e, com isso, faça doações simbólicas em ETH para causas sociais com fins humanitários e solidários
                    para vítimas de desastres climáticos, catástrofes ambientais, doenças ou males humanos.
                </p>
            </div>
            <div class="img">
                <img src="../static/images/bitcoin.png" alt width="80">
            </div>
        </section>
            <div class="title-box-container">Doações que já realizei</div>

            <div class="box-container">
                <script src="../static/js/donations/donations_to_user.js"></script>
        </div>
</body>
</html>

