<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallet4Don8</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/components/dashboard.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script defer src="../static/js/user/page_user.js"></script> 
    <script defer src="../static/js/components/dashboard.js"></script>
</head>
<body>
    <header>
        <nav>
            <img src="../static/images/icon.png" alt="Logo Wallet4Don8" width="150">
            <ul>
                <li><a id="initial-btn">Início</a></li>
                <li><a id="donation-btn">Minhas doações</a></li>
                <li><a id="dashboard-btn">Dashboard</a></li>
            </ul>
            <div class="button">
                <button id="sair">Sair</button>
            </div>
        </nav>
    </header>
    
    <main class="dashboard">
        <h1>Impacto das Doações no Mundo</h1>

        <div class="cards">
            <div class="card">
                <h2>Total Arrecadado</h2>
                <p class="value" id="totalAmount">Carregando...</p>
            </div>
            <div class="card">
                <h2>Países Beneficiados</h2>
                <p class="value" id="totalCountries">Brasil</p>
            </div>
            <div class="card">
                <h2>Doadores Ativos</h2>
                <p class="value" id="totalDonors">2356</p>
            </div>
        </div>

        <div class="data-visualization">
            <div class="chart-container">
                <canvas id="donationsChart"></canvas>
            </div>
            <div class="map-container">
                <div id="map"></div>
            </div>
        </div>
    </main>

    <script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script defer src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</body>
</html>