header nav .button button {
    padding: 20px;
    margin-top: 20px;
    background-color: var(--color-3);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

header nav .button button:hover {
    background-color: var(--color-4);
}

header nav .logout-button {
    background-color: var(--color-5); 
    color: white;
}

header nav .logout-button:hover {
    background-color: var(--color-6);
}

header nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-2);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
}

header nav .dropdown-content a {
    color: var(--color-1);
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

header nav .dropdown-content a:hover {
    background-color: var(--color-4);
}

header nav .button:hover .dropdown-content {
    display: block;
}

section .img img {
    width: 700px;
    animation: image 120s linear infinite;
}

@keyframes image {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}