footer {
    margin-top: 40px;
    background-color: #121212;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 340px;
}

.footer-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-logo img {
    width: 200px;
}

.footer-text {
    font-size: 20px;
    color: #888;
}

.footer-social {
    display: flex;
    gap: 15px;
}

.footer-social img {
    width: 34px;
    transition: transform 0.3s;
}

.footer-social img:hover {
    transform: scale(1.2);
}
