<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/admin.css">
    <script src="../static/js/login.js"></script>
    <script src="../static/js/links.js"></script>
    <title>Wallet4Don8</title>
</head>
<body>
    <header>
        <nav>
            <img src="../static/images/icon.png" alt="" width="150">
            <ul>
                <li> <a id="causes-btn">Início</a></li>
                <li> <a id="create-causes">Criar causa</a></li>
                <li> <a id="donations-btn">Listar doações</a></li>
                <li> <a id="list-donations-btn">Dashboard</a></li>
            </ul>
            <div class="button">
                 <button id="sair">Sair</button>
            </div>
            </nav>
        </header>

        <div class="title-box-container">Bem-vindo(a), caríssimo(a)</div>

        <div class="box-container">
            <script src="../static/js/list_donations.js"></script>
    </div>
</body>
</html>

