<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/user/reset_user.css">
    <script src="../static/js/user/reset_user.js"></script>
    <title>Wallet4Don8</title>
</head>
<body>
    <header>
        <nav>
            <img src="../static/images/icon.png" alt="" width="150">
            <div class="button">
                 <button id="voltar">Voltar</button>
            </div>
        </nav>
        </header>
        <div class="box">
            <div class="container">
            <div class="text-reset">
                Redefinição de senha
            </div>
            <div class="form">
                <form id = "reset-form">
                    <div>
                        <label for="user_email">Email</label>
                        <input type="text" id="user_email" name="user_email" >
                    </div>
                    <div>
                        <label for="user_password">Nova senha:</label>
                        <input type="password" id="user_password" name="user_password" >
                    </div>
                    <div>
                        <label for="user_password">Confirme a nova senha:</label>
                        <input type="password" id="confirm_user_password" name="confirm_user_password" >
                    </div>
                        <div class="button-reset">
                            <div class="button">
                                <button id="reset">Redefinir</button>
                            </div>
                        </div>
                  </form>
                </div>
        </div>
</body>
</html>