<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/admin/login_admin.css">
    <link rel="stylesheet" href="../static/css/components/password.css">
    <script src="../static/js/admin/login_admin.js"></script>
    <script src="../static/js/components/password.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Wallet4Don8</title>
</head>
<body>
    <header>
        <nav>
            <img src="../static/images/icon.png" alt="" width="150">
            <div class="button">
                 <button id="voltar">Voltar</button>
            </div>
        </nav>
        </header>
        <div class="box">
            <div class="container">
            <div class="text-login">
                Login do administrador
            </div>
            <div class="form">
                <form id = "login-form">
                    <div>
                        <label for="user_email">Email</label>
                        <input type="text" id="user_email" name="user_email" >
                    </div>
                    <div>
                        <label for="user_password">Senha:</label>
                        <div class="input-wrapper">
                            <input type="password" id="user_password" name="user_password">
                            <span class="toggle-password" onclick="togglePassword('user_password')">🙈</span>
                        </div>
                    </div>
                     <div class="reset">
                        <div href="/reset_password.html" id="reset_password">Esqueceu a senha?</div>
                        </div>
                        <div class="button-login">
                            <div class="button">
                                <button id="do_login">Entrar</button>
                            </div>
                        </div>
                  </form>
                </div>
        </div>
</body>
</html>

