<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/admin/admin.css">
    <link rel="stylesheet" href="../static/css/components/card_causes.css">
    <script src="../static/js/admin/page_admin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Wallet4Don8</title>
</head>
<body>
    <header>
        <nav>
            <img src="../static/images/icon.png" alt="" width="150">
            <ul>
                <li> <a id="initial-btn">Início</a></li>
                <li> <a id="create-causes-btn">Criar causa</a></li>
                <li> <a id="donations-btn">Listar doações</a></li>
                <li> <a id="dashboard-btn">Dashboard</a></li>
            </ul>
            <div class="button">
                 <button id="sair">Sair</button>
            </div>
            </nav>
        </header>

        <div class="title-box-container">Bem-vindo(a), caríssimo(a), veja as causas cadastradas!</div>

        <div class="box-container">
            <script src="../static/js/causes/get_causes_by_admin.js"></script>
    </div>
</body>
</html>

