footer {
  background: var(--color-6);
  color: #fff;
  padding: 2em 0;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer a {
  color: #fff;
  text-decoration: none;
}

.footer .container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 2em;
  flex-wrap: wrap;
}

.col1, .col2, .col3 {
  flex: 1;
  min-width: 250px;
}

.col1 .text {
  padding-left: 40px;
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

.col3 p {
  text-align: center;
}

.media-icons li,
.services-icons li {
  display: inline-block;
  margin-top: 20px;
  margin: 0.5em;
}

.media-icons a {
  font-size: 1.1em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.media-icons a:hover {
  background: var(--color-4);
  color: var(--color-6);
}

.services-icons {
  margin-top: 10px;
  padding-left: 30px;
}

.services-icons a {
  margin-top: 20px;
  font-size: 1.6em;
  transition: 0.3s;
}

.services-icons a:hover {
  color: var(--color-4);
}

.input-wrap {
  padding-left: 40px;
  display: flex;
  margin-top: 1em;
}

.input-wrap input {
  flex: 1;
  padding: 0.5em;
  border: none;
  border-radius: 10px;
  background: var(--color-1);
  color: var(--color-6);
}

.input-wrap input:focus {
  outline: none;
}

.input-wrap button {
  gap: 10px;
  padding: 0.8em;
  border-radius: 10px;
  background: var(--color-4);
  border: none;
  color: var(--color-6);
  cursor: pointer;
  transition: 0.3s;
}

.input-wrap button:hover {
  background: var(--color-5);
  color: var(--color-6);
}

.footer-bottom {
  padding: 1.5em 0;
  padding-left: 650px;
}

@media screen and (max-width: 900px) {
  .footer .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .col2 img {
    max-width: 80px;
  }

  .input-wrap {
    justify-content: center;
  }

  .footer-bottom {
    padding-left: 130px;
  }
}