<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/login_user.css">
    <script src="../static/js/login.js"></script>
    <script src="../static/js/links.js"></script>
    <title>Wallet4Don8</title>
</head>
<body>
    <header>
        <nav>
            <img src="../static/images/icon.png" alt="" width="150">
            <ul>
                <li> <a id="home-btn">Início</a></li>
                <li> <a id="causes-btn">Causas</a></li>
                <li> <a id="donations-btn">Doações</a></li>
                <li> <a id="list-donations-btn">Dashboard</a></li>
            </ul>
            <div class="button">
                 <button id="voltar">Sair</button>
            </div>
        </nav>
        </header>
</body>
</html>

