<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/about.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <script src="../static/js/script.js"></script>
    <script src="../static/js/login.js"></script>
    <script src="../static/js/links.js"></script>
    <title>Wallet4Don8</title>
</head>
<body>
    <header>
        <nav>
            <img src="../static/images/icon.png" alt="" width="150">
            <div class="button">
                 <button id="login">Entrar</button>
            </div>
        </nav>
        <div class ="home" id = "home">
            <div class="home-slider">
                <div class="wrapper">
                    <div class="slide slide1">
                        <div class="content">
                            <h1>
                                Tecnologia disruptiva
                            </h1>
                            <h2>
                                com solidariedade
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="image">
                    <img src="../static/images/cripto.png" alt="Cripto">
                </div>
                <div class="texts">
                    <div class="title">Wallet4Don8: Transparência e Solidariedade</div>
                    <div class="introduction">
                        O Wallet4Don8 nasceu do desejo de tornar as doações mais **transparentes, acessíveis e diretas,  
                        utilizando **criptoativos para impulsionar causas sociais e humanitárias. Inspirados por iniciativas  
                        como a The Giving Block, fomos além: eliminamos intermediários e garantimos que **100% da sua doação 
                        chegue diretamente ao destino.  
                        <br><br>
                        Diferente de outras plataformas**, não convertemos criptomoedas para moedas fiduciárias nem atuamos  
                        como intermediários financeiros. Cada contribuição é enviada diretamente para uma **carteira pública,  
                        assegurando total **rastreamento via blockchain.  
                        <br><br>
                        E mais: acreditamos que doar deve ser um ato recompensador! Estamos desenvolvendo um sistema de  
                        incentivos para quem contribui, ampliando o impacto social e fortalecendo nossa comunidade.  
                        <br><br>
                        Com o Wallet4Don8, a tecnologia não é apenas um meio, mas um caminho para transformar solidariedade em ação real.  
                    </div>
                </div>
            </div>
                
    </header>
    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <img src="../static/images/icon.png" alt="Wallet4Don8" width="100">
            </div>
             <div class="footer-social">
                <a href="#"><img src="../static/images/linkedin.png" alt="Linkedin"></a>
                <a href="#"><img src="../static/images/github.png" alt="GitHub"></a>
            </div>
            <div class="footer-text">
                © 2025 Wallet4Don8 - Doações transparentes via blockchain
            </div>
        </div>
    </footer>
</body>
</html>

