.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    user-select: none;
    color: #ff8c00;
    font-size: 18px;
    background: none;
    border: none;
    padding: 0;
}

.password-container input[type="password"],
.password-container input[type="text"] {
    width: 100%;
    padding-right: 30px; 
}